#apartments{
  position: relative;
  bottom: 19vh;
}


#view_appartment {
  background: rgb(0, 0, 0, 0.4) url("../../assets/assets/Category_BG.jpg")
    no-repeat padding-box;
  background-blend-mode: darken;
  min-width: 600px;
  width: 600px;
  height: 500px;
  background-size: 600px 500px;
  position: relative;
  margin-top: -50px;
  z-index: 99;
  /* margin-bottom: 50px; */
}
#apartment_all_content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  
}
#appartment_text {
  width: 80%;
  color: #fff;
  position: relative;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.view_apart {
  justify-content: center;
  color: #000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 60%;
  padding: 10px 20px;
}
.aprt_cards {
  /* display: flex; */
  /* flex-direction: row; */
  /* gap: 3%; */
  margin-left: 50px;
  margin-top: 45px;
  margin-bottom: 45px;
  /* width: 100%; */
  /* overflow-x: scroll; */
}
#main_aprt_card {
  background-color: var(--primary-background);
  border: none;
  border-radius: 10px;
  width: 242px;
  height: 262px;
}
#main_aprt_card:hover {
  background-color: var(--primary-color);

}
#main_aprt_card:hover #propertie_count{
  color: #ffffff;
}
#main_aprt_card:hover #apart_name{
  color: #ffffff;
}
#apart_icon {
  margin: 25px;
}
.solo_icon {
  color: var(--primary-color);
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  height: 60px;
  width: 60px;
}
#apart_name {
  margin-left: 10px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--text-color-282f39);
  text-align: left;
  font: normal normal bold 16px/22px Manrope;
  letter-spacing: 0px;
  color: #282f39;
  opacity: 1;
}
.apart_card_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#propertie_count {
  font: var(--unnamed-font-style-normal) normal normal 14px/19px
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #282f39c2;
  opacity: 1;
}

/* animation  */





#viewall {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  z-index: 99;
}

button.learn-more {
  width: 16rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.220rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#viewall:hover .circle {
  width: 15rem;
  box-shadow: 0 0 10px 2px white;
}

#viewall:hover .button-text {
  transform: translate(-1.7rem, 0);
}

#viewall:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(12rem, 0);
}

#viewall:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
}

#viewall:active .circle {
  transform:scale(0.9);
  transition: all 0.3s;
  box-shadow: 0 0 5px 0.5px white;
}

#viewall:hover .button-text {
  color: #fff;
}

#viewall:active .button-text {
  color: rgba(255, 255, 255, 0.459);
}
