#most_fav{
    background-color: var(--primary-background);
    height: 70vh;
}
.most_fav_con{
    margin: 0 8% 0 8%;
}
.most_fav_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
  }
  .rightside_most_fav_header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    /* margin-right: 20px; */
  }
  .most_fav_slider{
    margin: 3% 0% 0 0%;
  }