#main_properties {
  background-color: var(--primary-background);
  position: relative;
  bottom: 24vh;
  z-index: 10;
  height: 105vh;
}
.properties_sec {
  margin: 0 8% 0 8%;
}
#prop {
  position: relative;
  top: 120px;
}
.prop_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rightside_prop_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  left: 120px;
  /* margin-right: 20px; */
}
#text_prop_header {
  font-size: 18px;
}
#prop_cards {
  position: relative;
  top: 150px;
  right: 60px;
}
.cards_sec {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#prop_cards_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main_prop_card {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 222px;
  border-radius: 12px;
}
#prop_card_img {
  height: 220px;
  width: auto;
  border-radius: 12px 0 0 12px;
}
.prop_top_button {
  background: var(--primary-color);
  border-radius: 4px;
  opacity: 1;
  border: none;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  left: 10px;
  top: 9px;
}
.prop_top_likebutton {
  /* background: var(--primary-color) ;     */
  background: white;
  height: 35px;
  border-radius: 50%;
  opacity: 1;
  border: none;
  cursor: pointer;
  color: #000;
  position: absolute;
  top: 10px;
  right: 52%;
}
.prop_down_button {
  background: var(--primary-sell);
  border-radius: 5px;
  opacity: 1;
  border: none;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  left: 10px;
  bottom: 9px;
  width: 60px;
}
.prop_down_text {
  position: absolute;
  top: 85%;
  right: 52%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--card-color-ffffff);
  /* text-align: right; */
  font: normal normal bold 16px/22px Manrope;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#prop_card_mainbody {
  margin-top: 5px;
  display: flex;
  /* align-items: baseline; */
  flex-direction: row;
  gap: 5px;
  height: 25px;
  width: 70px;
  color: var(--primary-color);
}
.hovertext2 {
  position: relative;
  display: inline-block;
  /* padding: 0 40px; */
  cursor: pointer;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
}

.hovertext2::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: #087c7c;
  right: 0;
  top: 0;
  transition: 0.6s;
}

.hovertext2:hover .text::before,
.hovertext2:hover::before {
  width: 100%;
}
