#main_citySection {
  position: relative;
  bottom: 15vh;
  height: 72vh;
  z-index: 10;
}
#city_con {
  margin: 0 8% 0 8%;
}
.prop_city_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rightside_prop_city_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  left: 120px;
  /* margin-right: 20px; */
}
#text_prop_city_header {
  font-size: 18px;
}
.city_card_sec {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  position: relative;
  right: 165px;
}
#city_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top_city_cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#city_card {
  width: 387px;
  height: 387px;
  border: none;
}
#city_card_bottom {
  width: 800px;
  height: 287px;
  border: none;
}
#bottom_city_card_img {
  width: 800px;
  height: 287px;
}
.card-img-overlay {
  background: transparent
    linear-gradient(200deg, #ffffff00 0%, #3939394d 66%, #212121 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 8px !important;
}
h3 {
  cursor: pointer;
}
#city_img_headlines {
  position: absolute;
  bottom: 12px;
}
.hovertext3 {
  position: relative;
  display: inline-block;
  /* padding: 0 40px; */
  cursor: pointer;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
}

.hovertext3::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: #087c7c;
  right: 0;
  top: 0;
  transition: 0.6s;
}

.hovertext3:hover .text::before,
.hovertext3:hover::before {
  width: 100%;
}
