.header {
  padding-top: 15px;
  z-index: 2;
  position: sticky !important;
  top: 0;
}
.navbar-brand {
  display: flex;
  gap: 5px;
}
.logo {
  height: 100;
  width: 150;
}
.logo2 {
  /* margin-top: 10px ; */
  margin-left: 10px;
  height: 50;
  width: 200;
}
#dropdown-basic {
  background: transparent;
  border: none;
  margin-top: 2px;
}
.left-side {
  display: grid;
  grid-template-columns: 2fr;
  margin-left: 10%;
}

.right-side {
  display: grid;
  grid-template-columns: 4fr;
  margin-right: 10%;
  color: #ffffff;
}

.center-side {
  display: grid;
  grid-template-columns: 6fr;
  /* grid-column-start: 1;
    grid-column-end: 3; */
}

.nav-item {
  color: white !important;
  font: var(--primary-font);

}

#addbutton {
  color: #000;
  background-color: #ffffff;
}

#addbutton:hover {
  color: #ffffff;
  background-color: #000;
}

/* @media only screen and (max-width: 900px) {
  .center-side {
    display: flex;
    flex-direction: row;
    display: block;
  }
} */
